#vote-page {
  max-width: 360px;
  margin: 0 auto;
  vertical-align: middle;


  .team {
    border: 1px solid black;
    height: 40vh;
    position: relative;

    .graphic {
      border: 1px solid black;
      margin: 5vh;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

}

