<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>

  <section class="row" id="vote-page">

    <div class="team col-xs-12" id="team-one">
      <div class="graphic">
        lalalala
      </div>
    </div>

    <div class="team col-xs-12">
      <div class="comp-title"></div>
    </div>

    <div class="team col-xs-12" id="team-two">
      <div class="graphic">
        lalalala
      </div>
    </div>

  </section>

</body>
</html>